PORT=3000
NODE_ENV=development
// Database
MONGO_URL=mongodb://localhost:27017/awin-db
// Awin
AWIN_PRODUCT_FEED_URL=
AWIN_PUBLISHER_ID=
AWIN_FEED_CRON_SCHEDULE=
JOB_EMAIL=
APP_DOMAIN=
// SendGrid
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
// NodeMailer
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=my app password
EMAIL_FROM=
// Auth
JWT_SECRET=
JWT_EXPIRES_IN=7d
OTP_EXPIRES_MINUTES=2
TEMP_TOKEN_EXPIRES_MINUTES=2
